{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <title>{% block title %}{% endblock %} - IXEDU</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block navbar %}
        <div class="nav-bar">
            <div class="site-title"><span class="IX-title">IX</span>EDU</div>
        </div>

    <div class="login-bar">
        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}?next=/home/">Logout</a>
        {% else %}
        <form class="navbar-form navbar-center"
                method="POST"
                action="{% url 'login' %}">{% csrf_token %}
            <div class="form-group">
                <input type= "text"
                    class="form-control"
                    name="username"
                    placeholder="Username" />
            </div>
            <div class="form-group">
                <input type="password"
                    class="form-control"
                    name="password"
                    placeholder="Password" />
            </div>
            <button type="submit" class="btn btn-default">
                <i class="fa fa-user"></i>Login
            </button>
        </form>
        {% endif %}
    </div>
    {% endblock %}

    <div id="content">{% block content %}{% endblock %}</div>

    <!-- <div id="footer">
        {% block footer %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}"/>

        <div class="row footer">
            <div class="col-lg-6 with-love">
                Made with love for TartanHacks: Beyond the Binary 2016
            </div>
            <div class="col-lg-2 footer-names">
                Ashley Lai<br>
                Celeste Neary<br>
                John Pyun<br>
                Shyam Raghavan
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div> -->

    {% block scripts %}{% endblock %}
</body>
</html>
