{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/university-page.css' %}"/>
{% endblock %}

{% block navbar %}
	{% include 'navbar.html' %}
{% endblock %}

{% block title %}University{% endblock %}

{% block content %}
<div class="build-page">
    <form method="post">{% csrf_token %}
        <div class="row cat-title first-cat">
            <h2 class="cat-title-txt">Build Your University Profile</h2>
            <label for="university">University</label><input type="text" id="university" name="university"><br>
            <label for="coordinator">Coordinator</label><input type="text" id="coordinator" name="coordinator"><br>
            <label for="email">Contact Email</label><input type="text" id="email" name="email"><br>
            <label for="logo">Logo URL</label><input type="text" id="logo" name="logo"><br>
        </div>
        <div class="row build-footer">
            <div class="build-info">
                First, we'll need your basic information.
            </div>
            <div class="build-continue">
                <input type="submit" value="Continue">
            </div>
        </div>
    </form>
</div>
{% endblock %}
