<body style= "background-color:pink">


{% if request.user.is_authenticated %}
<h1>hello {{ current_user }} </h1> 
<a href="{% url 'logout' %}?next=/home/">Logout</a>
<!--<form method='POST' action=''> {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-danger btn-lg img-fade" type='submit' value='gulp'>
    
</form>-->
<form method='POST' action=''>{% csrf_token %}
{{ form }}
<input type='submit' value='WOW'>
</form>
{{ university }}
{{ checkmark }}
<h1> hi </h1>
{% else %} 


<form class = 'navbar-form navbar-center' method = 'POST' action = '{% url "login" %}'>{% csrf_token %}
            <div class= 'form-group'>
              <input type= 'text' class = 'form-control' name = 'username' placeholder = 'Username' />
            </div>
            <div class = 'form-group'>
              <input type= 'password' class = 'form-control' name = 'password' placeholder = 'Password' />
            </div>

            <button type= 'submit' class= 'btn btn-default'><i class="fa fa-user"></i> Login</button>
</form>

{% endif %}