{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
{% endblock %}

{% block title %}Browse{% endblock %}

{% block content %}
<div class="search">
    <div class="hero-title">
        Discover strategies for primary prevention
    </div>
    <form class="search-form">
        <div class="search-bar">
            <input type="text"
            name="search-value"
            placeholder="consent"
            class="search-box">
        </div>
    </form>
</div>
<!--<div class="info-block">
    <div class="row">
        <div class="col-md-3 col-md-offset-1">
            <div class="step1-info-block">
                <div class="step1-image"></div>
                <div class="step1-desc">
                    Fill out the information for your university.
                </div>
            </div>
        </div>
    </div>
</div>-->
{% endblock %}
