{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'bower_components/bootstrap-vertical-tabs/bootstrap.vertical-tabs.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/university-page.css' %}"/>
{% endblock %}

{% block navbar %}
	{% include 'navbar.html' %}
{% endblock %}

{% block title %}University{% endblock %}

{% block content %}
<div class="content">
    <div class="row univ-info">
        <div class="col-xs-4 col-xs-offset-2 col-md-1 col-md-offset-2 col-lg-1 col-lg-offset-2">
            <img src="http://www.cmu.edu/homeimages/CarnegieMellonUniversity_wordmark.gif" class="univ-logo img-circle">
        </div>
        <div class="col-xs-6 col-md-9 col-lg-9 univ-name">
            <h2 class="univ-name-txt">Carnegie Mellon University</h2><br>
            <h5 class="city-state-txt">Pittsburgh, PA</h5>
        </div>
    </div>
    <div class="col-xs-2 col-xs-offset-2 col-md-2 col-md-offset-2 col-lg-2 col-lg-offset-2">
        <ul class="nav nav-tabs tabs-left">
          <li class="active"><a href="#policies" data-toggle="tab">Policies</a></li>
          <li><a href="#groups" data-toggle="tab">Groups</a></li>
          <li><a href="#statistics" data-toggle="tab">Statistics</a></li>
          <li><a href="#training" data-toggle="tab">Training</a></li>
          <li><a href="#awareness" data-toggle="tab">Awareness</a></li>
        </ul>
    </div>

    <div class="col-xs-8 col-md-8 col-lg-8">
        <div class="tab-content">
            <div class="tab-pane active" id="policies">
                <h3>Policies</h3>
                <h5>Risk Reduction</h5>
                {% if data.riskreduction %}
                    {{ data.riskreductionDesc }}
                {% else %}
                    <h6>No Risk Reduction Implemented</h6>
                {% endif %}
                <h5>Primary Prevention</h5>
                {% if data.primaryprevention %}
                    {{ data.primarypreventionDesc }}
                {% else %}
                    <h6>No Primary Prevention Implemented</h6>
                {% endif %}

                <h5>Faculty Staff Training</h5>
                {% if data.facultystafftraining %}
                    {{ data.facultystafftrainingDesc }}
                {% else %}
                    <h6>No Faculty Staff Training is being Implemented</h6>
                {% endif %}
            </div>
            <div class="tab-pane" id="groups">
                <h3>Groups</h3>
                <h5>Title IX Office </h5>
                {% if data.titleixoffice %}
                    {{ data.titleixofficeDesc }}
                {% else %}
                    <h6>There are no Title IX Office on Campus</h6>
                {% endif %}
                <h5>Volunteer Group </h5>
                {% if data.volunteergroup %}
                    {{ data.volunteergroupDesc }}
                {% else %}
                    <h6>There are no volunteer groups on Campus</h6>
                {% endif %}
                <h5>Student Initiative </h5>
                {% if data.studentinitiative %}
                    {{ data.studentinitiativeDesc }}
                {% else %}
                    <h6>There are no studentinitiatives on Campus</h6>
                {% endif %}
                <h5>Mens Group </h5>
                {% if data.mensgroup %}
                    {{ data.mensgroupDesc }}
                {% else %}
                    <h6>There are no mens group on Campus</h6>
                {% endif %}
                <h5>Other Offices </h5>
                {% if data.otheroffices%}
                    {{ data.otherofficesDesc }}
                {% else %}
                    <h6>There are no other offices on Campus</h6>
                {% endif %}
            </div>
            <div class="tab-pane" id="statistics">
                <h3>Statistics</h3>
                <h5>On Campus Reports Statistics</h5>
                {% if data.oncampusreports %}
                    {{ data.oncampusreportsDesc }}
                {% else %}
                    <h6> No on campus reports statistics are being reported </h6>
                {% endif %}
                <h5>All Reports Statistics</h5>
                {% if data.allreports %}
                    {{ data.allreportsDesc }}
                {% else %}
                    <h6> There aren't reports outside campus that are being reported </h6>
                {% endif %}
                <h5>Climates Study Statistics</h5>
                {% if data.climatestudy %}
                    {{ data.climatestudyDesc }}
                {% else %}
                    <h6> No climatestudy statistics are being reported </h6>
                {% endif %}
            </div>
            <div class="tab-pane" id="training">
                <h3>Training</h3>
                <h5>Consent Training</h5>
                {% if data.consent %}
                    {{ data.consentDesc }}
                {% else %}
                    <h6> No Consent Training is being Implemented </h6>
                {% endif %}
                <h5>Sexual Assault Training </h5>
                {% if data.sexualassault %}
                    {{ data.sexualassaultDesc }}
                {% else %}
                    <h6> No Sexual Assault Training is being Implemented </h6>
                {% endif %}
                <h5>Sexual Harassment</h5>
                {% if data.sexualharassment %}
                    {{ data.sexualharassmentDesc }}
                {% else %}
                    <h6> No Sexual Harassment Training is being Implemented </h6>
                {% endif %}
                <h5>Stalking</h5>
                {% if data.stalking %}
                    {{ data.stalkingDesc }}
                {% else %}
                    <h6> No Stalking Training is being Implemented </h6>
                {% endif %}
                <h5>Dating Violence</h5>
                {% if data.datingviolence %}
                    {{ data.datingviolenceDesc }}
                {% else %}
                    <h6> No Dating Violence Training is being Implemented </h6>
                {% endif %}
                <h5>Domestic Violence</h5>
                {% if data.domesticviolence %}
                    {{ data.domesticviolenceDesc }}
                {% else %}
                    <h6> No Domestic Violence Training is being Implemented </h6>
                {% endif %}
            </div>
            <div class="tab-pane" id="awareness">
                <h3>Awareness</h3>
                <h5>Policy Awareness<h5>
                {% if data.aboutpolicies %}
                    {{ data.aboutpoliciesDesc }}
                {% else %}
                    <h6>No Policy Awareness is being Implemented</h6>
                {% endif %}
                <h5>Reporting Policy Awareness<h5>
                {% if data.aboutreporting %}
                    {{ data.aboutreportingDesc }}
                {% else %}
                    <h6>No Reporting Policy Awareness is being Implemented</h6>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
