body {
  font-family: 'Open Sans', sans-serif;
}
.nav-bar {
  color: white;
  font-weight: 400;
  font-size: 2em;
  line-height: 1;
  margin: 10px 0 0 10px;
  display: inline-block;
}
.nav-bar .IX-title {
  color: #606eb9;
  font-weight: 800;
}

.nav-bar.special {
	background-color: #202020;
	margin-left: 0;
	margin-top: 0;
	padding: 20px;
	width: 100%;
}

input:focus{
    outline: none;
}